@page "/Login"
@inject IPessoaService PessoaService
@inject LoginContainer loginContainer

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <EditForm Model=@loginDto OnSubmit=@CheckLogin class="mb-md-5 mt-md-4 pb-5">
                            <DataAnnotationsValidator></DataAnnotationsValidator>
                            <ValidationSummary></ValidationSummary>
                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Por favor insira seu E-mail e Senha!</p>

                            <div class="form-outline form-white mb-4">
                                <input type="email" id="typeEmailX" class="form-control form-control-lg" @bind=email />
                                <label class="form-label" for="typeEmailX">Email</label>
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" id="typePasswordX" class="form-control form-control-lg" @bind=senha/>
                                <label class="form-label" for="typePasswordX">Senha</label>
                            </div>
                            <input class="btn btn-outline-light btn-lg px-5" type="submit" value="Entrar"/>
                        </EditForm>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    [Inject]
    public NavigationManager? NavigationManager { get; set; }
    public LoginDto loginDto = new LoginDto();
    public string email { get; set; }
    public string senha { get; set; }
    public async void CheckLogin(){
        loginContainer.Logado = await PessoaService.CheckLogin(email, senha);
        if (await PessoaService.CheckLogin(email, senha))
        {
            NavigationManager.NavigateTo("/produtos");
        }
    }
}
